@use "../setting/setting";

.c-aside{
  margin-top: 16px;

  h2{
    font-size: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd
  }

  ul{
    margin-top: 16px;
  }

  li{
    margin-bottom: 12px;
    font-size: 14px;
  }
}

.c-aside + .c-aside{
  padding-top: 16px;
}

@media (min-width: 1024px){
  .c-aside{
    h2{
      font-size: 18px;
    }

    li{
      font-size: 16px;
    }
  }

  .c-aside{
    margin-top: 32px;
  }
}