@use "../setting/setting";

.c-contact__chart{
  padding: 32px 0;
}

.c-contact__chart table{
  border-collapse: collapse;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;

  th{
    text-align: left;   

    span{
      font-size: 14px;
    }
  }

  td{
    span{
      font-size: 14px;
      padding-left: 24px;
    }
  }

  li{
    margin-bottom: 16px;
  }

  a{
    font-weight: bold;
    color: setting.$color-link;
  }
}

@media not all and (min-width: 1024px){
  .c-contact__chart{

    tr{
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      }

    th{
      display: block;
      padding: 20px 12px 8px;
      font-size: 18px;

      br{
        display: none;
      }
        
    }

    td{
      display: block;
      padding: 8px 0 20px 12px;
    }
  }
} 



@media (min-width: 1024px){
  .c-contact__chart table{

    th{
      padding: 24px;
      background: setting.$color-sub;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      border-left: 1px solid #eaeaea;
      width: 280px;
      vertical-align: top;
      text-align: center;
      font-size: 18px;
    }

    td{
      padding: 24px 24px 24px 40px;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      border-right: 1px solid #eaeaea;
      font-size: 18px;
    }

    li{
      margin-bottom: 16px;
    }

    li{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}


.c-contact__texts{
    margin-top: 20px;

  p{
    margin-bottom: 16px;
  }

  @media not all and (min-width: 767px){
    br{
      display: none;
    }
  }

  @media (min-width: 1024px){
    text-align: center;
    margin-top: 28px;
    font-size: 18px;
  
  }
}

.p-contact__form{
  background: #fafafa;
  padding: 0 12px 24px;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 768px){
    .p-contact__form{
    margin-top: 40px;
    padding: 20px 32px 60px;
  }
}