@use "../setting/setting";

.c-intro{
  padding: 40px 0 0;
  max-width: 800px;
  margin:0 auto;

  h2{
    font-size: 24px;
  }
}

.c-intro__texts{
  margin-top: 20px;

  p{
    margin-bottom: 16px;
  }

  @media not all and (min-width: 767px){
    br{
      display: none;
    }
  }
}

.c-intro__blue{
  color: setting.$color-blue;
}

.c-intro__green{
  color: setting.$color-green;
}

.c-intro__list{
  background: setting.$color-sub;
  border-radius: 10px;
  padding: 20px 16px;
  max-width: 560px;
  margin: 0 auto;

  h3{
    font-size: 18px;
  }

  ul{
    margin-top: 12px;
  }

  li{
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 8px;

    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background: setting.$color-blue;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: .5em;
      margin-top: -4px;
    }
  }

}

@media (min-width: 768px){
  .c-intro{
    h2{
      text-align: center;
    }
  }

  .c-intro__texts{
    text-align: center;
  }

  .c-intro__list{
    margin-top: 24px;
    padding: 24px;
  }
}

@media (min-width: 1024px){
  .c-intro{
    padding: 64px 0 0;
    h2{
      font-size: 32px;
    }
  }

  .c-intro__texts{
    margin-top: 28px;
    font-size: 18px;
  }

  .c-intro__list{
    padding: 24px 36px;

    h3{
      font-size: 20px;
    }

    li{
      font-size: 18px;
    }
  }
}